.tabs {

}

.tabs__header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid 1px #E8E8E8;;
}

.tabs__link {
    color: black;
    font-weight: 550;
    text-decoration: none;

}

.tabs__link:hover {
    color: mediumpurple !important;
    border-radius: 30px;
    transition: background-color 0.5s;
}