.sidebar__tweet {
    background-color: mediumpurple !important;
    color: white !important;
    font-weight: 750 !important;
    border: none !important;
    border-radius: 30px !important;
    height: 50px !important;
    text-transform: inherit !important;
    margin-top: 20px !important;
    max-width: 250px;
}

.sidebar__link {
    text-decoration: none;
    color: black;
}

.sidebar {
    border-right: 1px solid #E8E8E8;
    flex: 0.15;
    min-width: 250px;

    padding-left: 20px;
    padding-right: 20px;
}

.sidebar__twitterIcon {
    color: mediumpurple;
    font-size: 30px !important;
    margin-left: 20px;
    margin-right: 20px;

}

.active {
    color: mediumpurple;
}

.sidebar__twitterIcon:hover {
    background-color: #d0c2ff !important;
    border-radius: 50px;
    transition: background-color 0.5s;
}

.sidebar__tweet:hover {
    background-color: #c2adff !important;
}

.sidebar__auth {
    border: #c2adff 2px solid;
    border-radius: 30px;
    margin-top: 30px;

}

.sidebar__modalWindow {
    background-color: white;
    border-radius: 30px;
}

.sidebar__buttonAuth {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    background-color: white !important;
    color: black !important;
    font-size: 18px !important;
    font-weight: 550 !important;
    border: mediumpurple 2px solid !important;
    border-radius: 30px !important;
    text-transform: inherit !important;
    margin-top: 40px !important;
    min-width: 200px !important;
}

.sidebar__modal {

    border: mediumpurple 2px solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    min-width: 200px;

}

.sidebar__modalText {
    display: flex;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.sidebar__modal:hover {
    background-color: #d0c2ff !important;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.sidebar__buttonAuth:hover {
    background-color: #d0c2ff !important;
    border-radius: 30px;
    transition: background-color 0.5s;
}