.explore{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 600px;
}
.explore__headerPosts{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.explore__moreIcon{
    margin-right: 20px;
    color: gray;
}

.explore__moreIcon:hover {
    background-color: #d0c2ff;
    color: mediumpurple;
    border-radius: 50px;
    transition: background-color 0.5s;
}